In [1]:
import pyspark

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName("Python DataFrame Example").getOrCreate()

/usr/local/lib/python3.5/dist-packages/pyspark/context.py:227: DeprecationWarning: Support for Python 2 and Python 3 prior to version 3.6 is deprecated as of Spark 3.0. See also the plan for dropping Python 2 support at https://spark.apache.org/news/plan-for-dropping-python-2-support.html.
  DeprecationWarning)

In [4]:
customerDF = spark.read.load("/home/hduser/Desktop/customers.txt", format="csv", sep="\t", inferSchema="True", header="True")

In [5]:
customerDF.printSchema()

root
 |-- customer_id: integer (nullable = true)
 |-- customer_name: string (nullable = true)
 |-- customer_city: string (nullable = true)
 |-- customer_state: string (nullable = true)
 |-- customer_zipcode: integer (nullable = true)

In [9]:
customerDF.select(customerDF["customer_name"]).show()

+----------------+
|   customer_name|
+----------------+
|     Mary Torres|
|      Jose Haley|
|      Mary Smith|
|  Richard Maddox|
|  Margaret Booth|
|  Mary Henderson|
|     Lisa Walker|
|   Jonathan Hill|
|Carolyn Sheppard|
|    Mary Mendoza|
|   Michael Smith|
|    James Holmes|
|     Mary Dawson|
|    Adam Marquez|
|    Gloria Smith|
|       Mary Webb|
|  Nancy Alvarado|
|  Russell Flores|
|    Denise Smith|
|  Jose Dickerson|
+----------------+
only showing top 20 rows

In [10]:
customerDF.select("customer_name").show()

+----------------+
|   customer_name|
+----------------+
|     Mary Torres|
|      Jose Haley|
|      Mary Smith|
|  Richard Maddox|
|  Margaret Booth|
|  Mary Henderson|
|     Lisa Walker|
|   Jonathan Hill|
|Carolyn Sheppard|
|    Mary Mendoza|
|   Michael Smith|
|    James Holmes|
|     Mary Dawson|
|    Adam Marquez|
|    Gloria Smith|
|       Mary Webb|
|  Nancy Alvarado|
|  Russell Flores|
|    Denise Smith|
|  Jose Dickerson|
+----------------+
only showing top 20 rows

In [13]:
customerDF.select(customerDF["customer_name"],customerDF["customer_city"]).show()

+----------------+-------------+
|   customer_name|customer_city|
+----------------+-------------+
|     Mary Torres|       Caguas|
|      Jose Haley|     Columbus|
|      Mary Smith|      Houston|
|  Richard Maddox|       Caguas|
|  Margaret Booth|    Arlington|
|  Mary Henderson|       Caguas|
|     Lisa Walker|       Caguas|
|   Jonathan Hill|      Phoenix|
|Carolyn Sheppard|Pompano Beach|
|    Mary Mendoza|       Caguas|
|   Michael Smith|       Caguas|
|    James Holmes|     Hilliard|
|     Mary Dawson|       Caguas|
|    Adam Marquez|  San Antonio|
|    Gloria Smith|       Caguas|
|       Mary Webb|   San Marcos|
|  Nancy Alvarado|     Flushing|
|  Russell Flores|       Caguas|
|    Denise Smith|    Rego Park|
|  Jose Dickerson|         Mesa|
+----------------+-------------+
only showing top 20 rows

In [14]:
customerDF.select("customer_name","customer_city").show()

+----------------+-------------+
|   customer_name|customer_city|
+----------------+-------------+
|     Mary Torres|       Caguas|
|      Jose Haley|     Columbus|
|      Mary Smith|      Houston|
|  Richard Maddox|       Caguas|
|  Margaret Booth|    Arlington|
|  Mary Henderson|       Caguas|
|     Lisa Walker|       Caguas|
|   Jonathan Hill|      Phoenix|
|Carolyn Sheppard|Pompano Beach|
|    Mary Mendoza|       Caguas|
|   Michael Smith|       Caguas|
|    James Holmes|     Hilliard|
|     Mary Dawson|       Caguas|
|    Adam Marquez|  San Antonio|
|    Gloria Smith|       Caguas|
|       Mary Webb|   San Marcos|
|  Nancy Alvarado|     Flushing|
|  Russell Flores|       Caguas|
|    Denise Smith|    Rego Park|
|  Jose Dickerson|         Mesa|
+----------------+-------------+
only showing top 20 rows

In [15]:
customerDF.select("customer_name","customer_state").show()

+----------------+--------------+
|   customer_name|customer_state|
+----------------+--------------+
|     Mary Torres|            PR|
|      Jose Haley|            OH|
|      Mary Smith|            TX|
|  Richard Maddox|            PR|
|  Margaret Booth|            TX|
|  Mary Henderson|            PR|
|     Lisa Walker|            PR|
|   Jonathan Hill|            AZ|
|Carolyn Sheppard|            FL|
|    Mary Mendoza|            PR|
|   Michael Smith|            PR|
|    James Holmes|            OH|
|     Mary Dawson|            PR|
|    Adam Marquez|            TX|
|    Gloria Smith|            PR|
|       Mary Webb|            TX|
|  Nancy Alvarado|            NY|
|  Russell Flores|            PR|
|    Denise Smith|            NY|
|  Jose Dickerson|            AZ|
+----------------+--------------+
only showing top 20 rows

In [17]:
customerDF.filter(customerDF["customer_state"] == "CA").show()

+-----------+----------------+---------------+--------------+----------------+
|customer_id|   customer_name|  customer_city|customer_state|customer_zipcode|
+-----------+----------------+---------------+--------------+----------------+
|       5577|      Mary Smith|        Modesto|            CA|           95350|
|       1745|      Mary Smith|Rowland Heights|            CA|           91748|
|      11444|Kathleen Patrick|      San Diego|            CA|           92109|
|       8846|    Thomas Smith|          Indio|            CA|           92201|
|       6237|  Bobby Anderson|       El Cajon|            CA|           92020|
|       4085|       Mary Carr|  Panorama City|            CA|           91402|
|       8705|  Patricia Smith|       Stockton|            CA|           95207|
|       3669|       Mary Soto| San Bernardino|            CA|           92410|
|       6101|      Mary Smith|    Los Angeles|            CA|           90033|
|      11697|  Jessica Thomas|  Laguna Niguel|            CA|           92677|
|       1295|   Theresa Lopez|       Winnetka|            CA|           91306|
|       4814|     Paul Suarez|    Simi Valley|            CA|           93065|
|       8530|   William Smith|       Highland|            CA|           92346|
|       3846|    Ronald Lewis|        Ontario|            CA|           91764|
|      10476|     John Hodges|       Cerritos|            CA|           90703|
|      10243|  Donna Anderson|    Los Angeles|            CA|           90034|
|      11595|   Zachary Jones|        Modesto|            CA|           95355|
|        847|  Jerry Ferguson|      San Diego|            CA|           92102|
|       3440|    Mary Edwards|        Salinas|            CA|           93905|
|       3400|     Frank Lewis|  Moreno Valley|            CA|           92557|
+-----------+----------------+---------------+--------------+----------------+
only showing top 20 rows

In [19]:
customerDF.select("customer_name").filter(customerDF["customer_state"] == "CA").show()

+----------------+
|   customer_name|
+----------------+
|      Mary Smith|
|      Mary Smith|
|Kathleen Patrick|
|    Thomas Smith|
|  Bobby Anderson|
|       Mary Carr|
|  Patricia Smith|
|       Mary Soto|
|      Mary Smith|
|  Jessica Thomas|
|   Theresa Lopez|
|     Paul Suarez|
|   William Smith|
|    Ronald Lewis|
|     John Hodges|
|  Donna Anderson|
|   Zachary Jones|
|  Jerry Ferguson|
|    Mary Edwards|
|     Frank Lewis|
+----------------+
only showing top 20 rows

In [30]:
countDF = customerDF.groupBy("customer_state").count()

In [21]:
!pwd

/home/hduser

In [31]:
countDF.filter(countDF["count"] > 50).show()

+--------------+-----+
|customer_state|count|
+--------------+-----+
|            CA|  187|
|            NY|   79|
|            TX|   62|
|            PR|  505|
+--------------+-----+

In [36]:
customerDF.createOrReplaceTempView("customerView")

In [41]:
spark.sql("select customer_state, count(*) from customerView group by customer_state having count(*) > 50").show()

+--------------+--------+
|customer_state|count(1)|
+--------------+--------+
|            CA|     187|
|            NY|      79|
|            TX|      62|
|            PR|     505|
+--------------+--------+

In [51]:
cStateCount50 = spark.sql("select customer_state, count(*) as state_count from customerView group by customer_state having state_count > 50")

In [46]:
cStateCount50.printSchema()

root
 |-- customer_state: string (nullable = true)
 |-- count(1): long (nullable = false)

In [47]:
type(cStateCount50)

pyspark.sql.dataframe.DataFrame

In [53]:
cStateCount50.coalesce(1).write.parquet("/home/hduser/Desktop/cust.parquet")

In [55]:
cStateCount50.coalesce(1).write.json("/home/hduser/Desktop/cust.json")

In [56]:
productDF = spark.read.json("/home/hduser/Desktop/products.json")

In [57]:
productDF.printSchema()

root
 |-- category_id: long (nullable = true)
 |-- customer_id: long (nullable = true)
 |-- product_category: string (nullable = true)
 |-- product_name: string (nullable = true)
 |-- product_price: double (nullable = true)
 |-- product_quantity: long (nullable = true)
 |-- salestxn_id: long (nullable = true)

In [58]:
productDF.show()

+-----------+-----------+------------------+--------------------+-------------+----------------+-----------+
|category_id|customer_id|  product_category|        product_name|product_price|product_quantity|salestxn_id|
+-----------+-----------+------------------+--------------------+-------------+----------------+-----------+
|         45|      12080|           Fishing|O'Brien Men's Neo...|        49.98|               2|      98660|
|         45|      12279|           Fishing|O'Brien Men's Neo...|        49.98|               2|      97749|
|         12|       3343|      Boxing & MMA|Under Armour Wome...|        31.99|               4|     103889|
|         45|      12382|           Fishing|O'Brien Men's Neo...|        49.98|               5|      22751|
|         47|       5032|           Boating|Pelican Sunstream...|       199.99|               1|     129001|
|         17|       2663|            Cleats|Nike Men's CJ Eli...|       129.99|               1|     165110|
|         42|        702| Bike & Skate Shop|Diamondback Women...|       299.98|               1|     140220|
|         44|       3959|Hunting & Shooting|Field & Stream Sp...|       399.98|               1|      77426|
|         16|       1836|   As Seen on  TV!|Perfect Fitness P...|        59.99|               4|     101870|
|         17|       5212|            Cleats|Nike Men's CJ Eli...|       129.99|               1|     131685|
|         47|       4037|           Boating|Pelican Sunstream...|       199.99|               1|     164177|
|         17|       7528|            Cleats|Nike Men's CJ Eli...|       129.99|               1|      78983|
|         42|       5658| Bike & Skate Shop|Diamondback Women...|       299.98|               1|      84894|
|         17|       6888|            Cleats|Nike Men's CJ Eli...|       129.99|               1|     170683|
|         23|       7946|     Men's Apparel|Nike Men's Dri-FI...|         50.0|               3|      22083|
|         45|      10667|           Fishing|O'Brien Men's Neo...|        49.98|               1|      76014|
|         45|       9976|           Fishing|O'Brien Men's Neo...|        49.98|               5|      79165|
|         23|       4798|     Men's Apparel|Nike Men's Dri-FI...|         50.0|               1|      44574|
|         42|       9356| Bike & Skate Shop|Diamondback Women...|       299.98|               1|     102807|
|         28|       8284|        Top Brands|Under Armour Girl...|        39.99|               1|     125420|
+-----------+-----------+------------------+--------------------+-------------+----------------+-----------+
only showing top 20 rows

In [59]:
productDF.filter(productDF["product_price"] > 200).show()

+-----------+-----------+------------------+--------------------+-------------+----------------+-----------+
|category_id|customer_id|  product_category|        product_name|product_price|product_quantity|salestxn_id|
+-----------+-----------+------------------+--------------------+-------------+----------------+-----------+
|         42|        702| Bike & Skate Shop|Diamondback Women...|       299.98|               1|     140220|
|         44|       3959|Hunting & Shooting|Field & Stream Sp...|       399.98|               1|      77426|
|         42|       5658| Bike & Skate Shop|Diamondback Women...|       299.98|               1|      84894|
|         42|       9356| Bike & Skate Shop|Diamondback Women...|       299.98|               1|     102807|
|         42|       8651| Bike & Skate Shop|Diamondback Women...|       299.98|               1|     134324|
|         44|      12072|Hunting & Shooting|Field & Stream Sp...|       399.98|               1|      27476|
|         42|       7830| Bike & Skate Shop|Diamondback Women...|       299.98|               1|     154460|
|         42|       6995| Bike & Skate Shop|Diamondback Women...|       299.98|               1|     109562|
|         42|      12428| Bike & Skate Shop|Diamondback Women...|       299.98|               1|     172090|
|         44|       7013|Hunting & Shooting|Field & Stream Sp...|       399.98|               1|       3516|
|         44|       9992|Hunting & Shooting|Field & Stream Sp...|       399.98|               1|     150088|
|         42|       7816| Bike & Skate Shop|Diamondback Women...|       299.98|               1|     164863|
|         44|      10300|Hunting & Shooting|Field & Stream Sp...|       399.98|               1|      32507|
|         44|       2152|Hunting & Shooting|Field & Stream Sp...|       399.98|               1|      50567|
|         44|        602|Hunting & Shooting|Field & Stream Sp...|       399.98|               1|      79804|
|         44|        685|Hunting & Shooting|Field & Stream Sp...|       399.98|               1|      68394|
|         44|       7396|Hunting & Shooting|Field & Stream Sp...|       399.98|               1|      45827|
|         42|      11165| Bike & Skate Shop|Diamondback Women...|       299.98|               1|      99392|
|         44|      11584|Hunting & Shooting|Field & Stream Sp...|       399.98|               1|      30107|
|         44|       6887|Hunting & Shooting|Field & Stream Sp...|       399.98|               1|     108056|
+-----------+-----------+------------------+--------------------+-------------+----------------+-----------+
only showing top 20 rows

In [61]:
productDF.createOrReplaceTempView("product")

In [63]:
countProductCatAscDF = spark.sql("select product_category, count(*) as cnt from product group by product_category order by cnt")

In [64]:
countProductCatAscDF.show()

+-------------------+---+
|   product_category|cnt|
+-------------------+---+
|Baseball & Softball|  4|
|  Training by Sport|  5|
|         Golf Shoes|  6|
|           Football| 13|
|   Cardio Equipment| 14|
|   Men's Golf Clubs| 21|
|      Shop By Sport| 26|
|           Lacrosse| 32|
|  Strength Training| 35|
|         Basketball| 36|
|   Camping & Hiking| 44|
|Fitness Accessories| 47|
|        Electronics| 48|
|       Golf Apparel| 51|
|             Soccer| 53|
| Women's Golf Clubs| 57|
|   Tennis & Racquet| 66|
|  Golf Bags & Carts| 89|
|      Boys' Apparel|102|
|        Accessories|110|
+-------------------+---+
only showing top 20 rows

In [65]:
countProductCatAscDF.coalesce(1).write.json("/home/hduser/Desktop/Product Category")