In [1]:
import os
os.environ['PYSPARK_SUBMIT_ARGS']='--driver-class-path /usr/local/sqoop/lib/mysql-connector-java-5.1.47-bin.jar \
--jars /usr/local/sqoop/lib/mysql-connector-java-5.1.47/mysql-connector-java-5.1.47-bin.jar pyspark-shell'

import findspark
findspark.init('/usr/local/spark')

from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("Pyspark MySQL JDBC example").getOrCreate()

df_mysql1=spark.read.format("jdbc").option("url","jdbc:mysql://localhost/").option("dbtable","mysql.engine_cost").\
option("user","root").option("password","root").load()

df_mysql1.printSchema()

root
 |-- engine_name: string (nullable = false)
 |-- device_type: integer (nullable = false)
 |-- cost_name: string (nullable = false)
 |-- cost_value: double (nullable = true)
 |-- last_update: timestamp (nullable = false)
 |-- comment: string (nullable = true)

In [2]:
df_customer=spark.read.format("jdbc").option("url","jdbc:mysql://localhost/").option("dbtable","mydb1.customer").\
option("user","root").option("password","root").load()

In [3]:
df_product=spark.read.format("jdbc").option("url","jdbc:mysql://localhost/").option("dbtable","mydb1.product").\
option("user","root").option("password","root").load()

In [5]:
df_customer.printSchema()

root
 |-- customer_id: integer (nullable = true)
 |-- customer_name: string (nullable = true)
 |-- customer_city: string (nullable = true)
 |-- customer_state: string (nullable = true)
 |-- customer_zipcode: integer (nullable = true)

In [6]:
df_customer.createOrReplaceTempView('customer')

In [7]:
df_product.createOrReplaceTempView('product')

In [8]:
spark.sql('select *  from customer').show()

+-----------+----------------+-------------+--------------+----------------+
|customer_id|   customer_name|customer_city|customer_state|customer_zipcode|
+-----------+----------------+-------------+--------------+----------------+
|      11039|     Mary Torres|       Caguas|            PR|             725|
|       5623|      Jose Haley|     Columbus|            OH|           43207|
|       5829|      Mary Smith|      Houston|            TX|           77015|
|       6336|  Richard Maddox|       Caguas|            PR|             725|
|       1708|  Margaret Booth|    Arlington|            TX|           76010|
|      10227|  Mary Henderson|       Caguas|            PR|             725|
|        839|     Lisa Walker|       Caguas|            PR|             725|
|       7604|   Jonathan Hill|      Phoenix|            AZ|           85040|
|       6485|Carolyn Sheppard|Pompano Beach|            FL|           33063|
|       4737|    Mary Mendoza|       Caguas|            PR|             725|
|       5973|   Michael Smith|       Caguas|            PR|             725|
|       9205|    James Holmes|     Hilliard|            OH|           43026|
|        138|     Mary Dawson|       Caguas|            PR|             725|
|        371|    Adam Marquez|  San Antonio|            TX|           78223|
|       9285|    Gloria Smith|       Caguas|            PR|             725|
|       1209|       Mary Webb|   San Marcos|            TX|           78666|
|       3021|  Nancy Alvarado|     Flushing|            NY|           11354|
|       3354|  Russell Flores|       Caguas|            PR|             725|
|      11684|    Denise Smith|    Rego Park|            NY|           11374|
|      11144|  Jose Dickerson|         Mesa|            AZ|           85201|
+-----------+----------------+-------------+--------------+----------------+
only showing top 20 rows

In [10]:
spark.sql('select *  from product limit 5').show()

+-----------+--------------------+------------+-------------+----------------+-----------+
|customer_id|    product_category|product_name|product_price|product_quantity|salestxn_id|
+-----------+--------------------+------------+-------------+----------------+-----------+
|      98660|O'Brien Men's Neo...|     Fishing|         45.0|              50|          2|
|      97749|O'Brien Men's Neo...|     Fishing|         45.0|              50|          2|
|     103889|Under Armour Wome...|Boxing & MMA|         12.0|              32|          4|
|      22751|O'Brien Men's Neo...|     Fishing|         45.0|              50|          5|
|     129001|Pelican Sunstream...|     Boating|         47.0|             200|          1|
+-----------+--------------------+------------+-------------+----------------+-----------+

In [ ]:
sapark.sql('select  c.customer_id,  c.customer_name from customer c inner join on ')